@use '/src/sass/base/variables.scss' as *;

.catalog {
    padding: 50px 0 60px;

    &__content {
        margin-top: 60px;
    }

    &__title {
        margin-top: 60px;
    }

    &__tabs {
        display: flex;
        gap: 13px 50px;
        flex-wrap: wrap;
        margin-top: 60px;
        padding: 13px 25px;
        border: 1px solid $dark;
    }

    &__tab {
        position: relative;
        padding: 0;
        border: none;
        background: none;
        font-size: 20px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        line-height: normal;
        letter-spacing: normal;

        &_active::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -1px;
        }
    }

    &__content-item {
        grid-template-columns: 1fr;
        gap: 20px;
        place-items: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        min-height: 100%;
        width: 100%;
        border: 1px solid $dark;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 11px 12px 17px;
            background-color: $light;
        }

        &-img {
            width: 100%;
            height: 198px;
            object-fit: cover;
        }

    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            width: 460px;
        }

        &__content {
            position: relative;
        }


        &__content-item {
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                height: 1px;
                background-color: #000;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 200px;
                width: 1px;
                background-color: #000;
            }
        }
    }

}


@media screen and (min-width: 1200px) {
    .catalog {

        &__content-item {
            grid-template-columns: repeat(3, 1fr);
            padding: 25px;
            gap: 35px;
        }

        &__card {
            &:hover {
                transform: scale(1.02);
                box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.35);
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding: 40px 0 100px;

        &__content-item {
            grid-template-columns: repeat(4, 1fr);
            gap: 25px 83px;
        }

        &__card {
            width: 285px;

            &-img {

                height: 180px;

            }
        }
    }
}