@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.footer {
    padding: 50px 0;
    background-color: $dark;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__form-wrapper {
        width: 100%;
    }

    &__form {
        margin-top: 40px;
        max-width: 293px;
    }

    &__form-text {
        font-size: 16px;
        font-weight: 400;
        color: $light;
        line-height: normal;
    }

    &__input {
        width: 100%;
        margin-top: 40px;
        padding-bottom: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $ui-active;
        color: $ui-active;

    }

    &__input::placeholder {
        color: $ui-active;
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        color: $light;
        line-height: 28px;

        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 4px;
        }
    }

    &__checkbox {
        border: 1px solid $light;
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        margin-top: 20px;
    }

    .nav__wrapper {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px 66px;

        .nav__item {
            .nav__list {
                list-style: none;
                padding: 0;
                margin-top: 40px;

                li {
                    margin-top: 20px;
                }
            }

            &-text {
                font-weight: 400;
                font-size: 16px;
                color: $light;
                text-decoration: none;
            }
        }
    }

    &__contacts {
        margin-top: 40px;
    }

    &__icons {
        margin-top: 40px;
        display: flex;
        justify-content: start;
        gap: 10px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            text-decoration: none;
            width: 24px;
            height: 24px;
            color: #fff;
        }
    }

    &__copyright {
        @include copyright;
        margin-top: 40px;
    }
}


@media screen and (min-width: 1200px) {
    .footer {
        &__form-wrapper {
            width: auto;
        }

        .nav__wrapper {
            margin: 0;
        }

        &__contacts {
            margin: 0;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        padding-top: 80px;
    }
}